# Data Cleaning

In [1]:
import pandas as pd

In [ ]:
football_records = pd.read_csv("college_football_records.csv")
football_records = 
football_records

,team,year,won,lost,tied,notes,scorecard_name
0,Air_Force,2023,9.0,4.0,NaN,NaN,United States Air Force Academy
1,Air_Force,2022,10.0,3.0,NaN,NaN,United States Air Force Academy
2,Air_Force,2021,10.0,3.0,NaN,NaN,United States Air Force Academy
3,Air_Force,2020,3.0,3.0,NaN,NaN,United States Air Force Academy
4,Air_Force,2019,11.0,2.0,NaN,NaN,United States Air Force Academy
...,...,...,...,...,...,...,...
20712,Yale,1876,3.0,0.0,NaN,NaN,Yale University
20713,Yale,1875,2.0,2.0,NaN,NaN,Yale University
20714,Yale,1874,3.0,0.0,NaN,NaN,Yale University
20715,Yale,1873,2.0,1.0,NaN,NaN,Yale University
20716,Yale,1872,1.0,0.0,NaN,NaN,Yale University

In the football records, the `tied` variable contains many NaNs, which can be replaced with zero

In [4]:
scorecard = pd.read_csv("combined_scorecard_data.csv")
scorecard

,UNITID,OPEID,INSTNM,CITY,Year,UGDS,MAIN,NUMBRANCH,HIGHDEG,REGION,...,RET_FT4,C150_4,MD_EARN_WNE_P10,TUITIONFEE_IN,TUITIONFEE_OUT,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,OPENADMP
0,100663,00105200,University of Alabama at Birmingham,Birmingham,1996,9889.0,1,2,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100751,00105100,The University of Alabama,Tuscaloosa,1996,13948.0,1,1,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100858,00100900,Auburn University,Auburn,1996,18337.0,1,1,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,102094,00105700,University of South Alabama,Mobile,1996,4777.0,1,2,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,102368,00104700,Troy University,Troy,1996,2495.0,1,2,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4857,239105,00386300,Marquette University,Milwaukee,2022,7290.0,1,1,4,3,...,0.8947,0.8252,NaN,46670.0,46670.0,0.6737,0.0487,0.1565,0.0599,2.0
4858,240444,00389500,University of Wisconsin-Madison,Madison,2022,35184.0,1,1,4,3,...,0.9433,0.8923,NaN,10796.0,39427.0,0.6249,0.0225,0.0752,0.0972,2.0
4859,240727,00393200,University of Wyoming,Laramie,2022,8363.0,1,1,4,7,...,0.7540,0.6088,NaN,6621.0,21771.0,0.7790,0.0103,0.0838,0.0122,2.0
4860,243744,00130500,Stanford University,Stanford,2022,7761.0,1,1,4,8,...,0.9831,0.9511,NaN,58416.0,58416.0,0.2589,0.0737,0.1758,0.2635,2.0
4861,243780,00182500,Purdue University-Main Campus,West Lafayette,2022,38438.0,1,11,4,3,...,0.9047,0.8304,NaN,9992.0,28794.0,0.6110,0.0247,0.0662,0.1262,2.0