In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from xgboost import XGBRegressor, plot_importance

In [32]:
df = pd.read_csv("football_admission.csv")
schools = df["INSTNM"].values
labels = df.columns.to_list()

df.drop(columns=["UGDS_HISP", "UGDS_ASIAN", "UGDS_MEN", "UGDS_WOMEN", "ACTCMMID", "SAT_AVG", "CCSIZSET", "UGDS_WHITE", "UGDS_BLACK", "REGION", "WON", "LOST", "TIED"], inplace=True)
# df.interpolate(inplace=True)
# df.fillna(df.select_dtypes(include=['number']).mean(), inplace=True)
          
# print(schools)
nan_counts = df.isna().sum()

In [34]:
print(nan_counts)

INSTNM                  186
TEAM                    639
YEAR                      0
WIN_RATE                680
ADM_RATE               1196
UGDS                    417
TUITIONFEE_IN          1001
TUITIONFEE_OUT         1001
C150_4                  453
RET_FT4                1691
ON_CAMPUS_EXPENSES      868
OFF_CAMPUS_EXPENSES    1653
dtype: int64

In [33]:
df

,INSTNM,TEAM,YEAR,WIN_RATE,ADM_RATE,UGDS,TUITIONFEE_IN,TUITIONFEE_OUT,C150_4,RET_FT4,ON_CAMPUS_EXPENSES,OFF_CAMPUS_EXPENSES
0,United States Air Force Academy,Air_Force,2022,0.769231,0.1623,4085.0,NaN,NaN,0.9991,0.9354,NaN,NaN
1,United States Air Force Academy,Air_Force,2021,0.769231,0.1243,4181.0,NaN,NaN,0.8609,0.9253,NaN,NaN
2,United States Air Force Academy,Air_Force,2020,0.500000,0.1343,4307.0,NaN,NaN,0.8732,0.9335,NaN,NaN
3,United States Air Force Academy,Air_Force,2019,0.846154,0.1108,4304.0,NaN,NaN,0.8526,0.9394,NaN,NaN
4,United States Air Force Academy,Air_Force,2018,0.416667,0.1139,4336.0,NaN,NaN,0.8501,0.9527,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5069,Manhattan College,NaN,2022,NaN,0.8230,3066.0,48658.0,48658.0,0.7199,0.7604,21740.0,22040.0
5070,New York University,NaN,2022,NaN,0.1246,29136.0,58168.0,58168.0,0.8712,0.9467,23927.0,23927.0
5071,Xavier University,NaN,2022,NaN,0.8454,4837.0,45000.0,45000.0,0.7376,0.8370,18320.0,18320.0
5072,Gonzaga University,NaN,2022,NaN,0.6974,5018.0,50735.0,50735.0,0.8809,0.9260,18972.0,21233.0
5073,Marquette University,NaN,2022,NaN,0.8721,7290.0,46670.0,46670.0,0.8252,0.8947,17892.0,20606.0